/*sets title appearance*/
title{
    margin: auto;
    height: 100px;
}
/*defines main body color*/
body{
    margin: auto;
    background-color: beige;
}

/*defines header title*/
h1{
    color: black;
    font-size:40px;
    text-align:  center;
    align-self: center;
    margin: auto;
    width: 500px;
}

/*defines grayspace*/
.entire{
  background-color: gray;
  margin:auto;
  background-image: linear-gradient(to right, rgba(27, 76, 209, 0.7), rgba(210, 43, 177, 0.8));
}

/*defines grid div without defining position or color of boxes*/
#grid {
  margin:auto;
  display: grid;
  border: 2px solid black;
}

/*sets butto positions*/
.bar{
  margin:auto;
  text-align:center;
  }

  #button4{
    width:130px;
  }

  #button5{
    width:130px;
  }

  .actionButton{
    background-color:white;
    width:80px;
    height:30px;
    font-size:15px;
    font-family:'Arial';
    border-radius:12px;
    border-color:red;
    border-width: 5px;
  }

  .actionButton:hover{
    background-color:rgb(11, 229, 77);
  }

  /*styles input text box*/
  .inputBox{
    font-size:15px;
    font-family:'Arial';
    border-style:solid;
    border-color:rgb(12, 242, 227);
    border-width: 5px;
    font-weight:bold;
  }


  /*sets width of lower text input boxes*/
  #speed{
    width:320px;
  }
  #xCoord{
    width:310px;
  }
  #yCoord{
    width:310px;
  }

  /*formats text on main project page*/
  .introText{
    background-color:white;
    margin:10px;
  }

  /*formats main documentation page*/
  .projectBox{
    width:800px;
    margin:auto;
    padding:10px;
    background-image:linear-gradient(to right, rgba(27, 76, 209, 0.7), rgba(210, 43, 177, 0.8));
  }

  /*creates container for dual column documentation display*/
  .cont{
    display:table;
    padding:5px;
  }

  /*styles image columns*/
  .gridImgColumn{
    width:50%;
    float:left;
    height:200px;
    background-size:100% 100%;
  }

  /*styles text columns*/
  .greedyImgColumn{
    width:50%;
    float:left;
    height:300px;
    background-size:100% 100%;
  }

  /*attributes relevant documentation pictures*/
  #column1a{
    background-image:url("Documentation/Case1.png");
  }

  #column1b{
    background-image:url("Documentation/Case2.png");
  }

  #column1c{
    background-image:url("Documentation/Case3.png");
  }

  #column1d{
    background-image:url("Documentation/Ex1.png");
  }

  #column1e{
    background-image:url("Documentation/Ex2.png");
  }

  /*sets column formatting*/
  #column2{
    width:46%;
    float:right;
    padding-left:10px;
  }

  /*styles documentation background*/
  .entire2{
    background-image:url("Images/Space.jpeg");
    background-size:100% 100%;
    background-repeat:no-repeat;
  }

  /*set color of divs in the documentation section*/
    
  #box1{
    background-color:rgb(255, 234, 210);
  }

  #cont0{
    background-color:rgb(255, 234, 210);
    padding-left:5px;
  }

  #cont1{
    background-color:rgb(219, 223, 234);
  }

  #cont2{
    background-color:rgb(172, 177, 214);
  }

  #cont3{
    background-color:rgb(130, 148, 196);
  }

  #box2{
    background-color: rgb(191, 172, 224);
  }

  #cont4{
    background-color: rgb(191, 172, 224);
    padding-left:5px;
  }

  #cont5{
    background-color:rgb(160, 132, 202);
  }

  #cont6{
    background-color:rgb(130, 90, 170);
  }

  #cont7{
    background-color:rgb(178, 164, 255);
  }

  #soloText{
    background-color:rgb(130, 148, 196);
    padding:5px;
  }


  