title{
    margin: auto;
    height: 100px;

}
/*defines main body color*/
body{
    margin: auto;
    background-color: beige;
}

/*defines header title*/
h1{
    color: black;
    font-size:50px;
    text-align:  center;
    align-self: center;
    margin: auto;
    width: 500px;
}
/*defines grayspace*/
  .entire{
    background-color: gray;
    margin:auto;
  }
/*defines grid div without defining position or color of boxes*/
  #grid {
    margin:auto;
    display: grid;
    border: 2px solid black;
    }

    #buttons{
      margin:auto;
      text-align:center;
    }

#button1{
    background-color:lightblue;
    width:80px;
  }

  #button1:hover{
    background-color:blue;
  }

  #button2{
    background-color:lightblue;
    width:80px;
  }

  #button2:hover{
    background-color:blue;
  }

  #button3{
    background-color:lightblue;
    width:80px;
  }

  #button3:hover{
    background-color:blue;
  }

  #button4:hover{
    background-color:red;
  }

  #myName{
    width:250px;
  }

  #speedbar{
    margin:auto;
    text-align:center;
  }

  #resizebar{
    margin:auto;
    text-align:center;
  }

  #button5:hover{
    background-color:red;   
  }

  #xCoord{
    width:260px;
  }

  #yCoord{
    width:260px;
  }

  .introText{
    background-color:white;
    margin:10px;
  }

  .projectBox{
    width:900px;
    background-color:grey;
    margin:auto;
  }



  